<template name="index">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <script src="/helperFunctions/sense.js"></script>
        <title>Pokemon Meteor</title>
    </head>
    <script type="text/javascript">
    $(function() {
        game.onload();
    });
    </script>

    <body>
        <div>
            {{> yield}}
        </div>
        <div id="battle-content">
            {{> battle}}
        </div>

    </body>
</template>