<template name="index">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <script src="/helperFunctions/sense.js"></script>
        <title>Pokémon: Meteorite Version</title>
    </head>
    <script type="text/javascript">
    $(function() {
        game.onload();
    });
    </script>

    <audio id="intro" autoplay="autoplay" loop>
        <source src="http://66.90.91.26:777/ost/pokemon-gold-silver/nwzmvyckeo/12-new-bark-town.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
    </audio>

    <body>
        <div>
            {{> yield}}
        </div>
        <div id="battle-content">
            {{> battle}}
        </div>
    </body>
</template>